<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
	<title>view-pilot</title>
</head>

<body>
	
	<h3 th:text="'License Number: ' + ${pilot.licenseNumber}"></h3>
	<h3 th:text="'Name: '+${pilot.name}"></h3>
	<h3 th:text="'Fly Hour: '+${pilot.flyHour}"></h3>
	
	<table>
		<tr>
			<th>Origin</th>
			<th>Destination</th>
			<th>Time</th>
			<th>flightNumber</th>
			<th>id</th>
		</tr>
		<tr th:each="flight,iterStat : ${pilots}">
    		<td th:text="${flight.origin}">origin</td>
    		<td th:text="${flight.destination}">destination</td>
   			<td th:text="${flight.time}">time</td>
   			<td th:text="${flight.flightNumber}">flightNumber</td>
   			<td th:text="${pilot.id}">flightNumber</td>
   			 
 		</tr>
	</table>
	
	<td><a th:href="@{/flight/add/} + ${pilot.licenseNumber}" >Add Flight</a></td>
	<td><a th:href="@{/pilot/update/}+ ${pilot.licenseNumber}" th:objcet="${pilot}"  method = GET text>Update Me</a></td>
</body>

</html>